---
import JobTitles from "./JobTitles.astro";

interface Title {
  name: string;
  start: string;
  end?: string;
}

interface Props {
  titles: Title[];
  company: string;
  techs: string[];
  skills: string[] | undefined;
  summaries: string[];
  slug: string;
}

const { titles, company, techs, skills, summaries, slug } = Astro.props;

const mainTitleStyle = {
  dateClassName: "text-mist font-header",
  divider: "·",
  dividerClassName: "",
  titleClassName: "link-text text-mist font-header",
};

const offTitleStyle = {
  dateClassName: "text-smoke text-sm",
  divider: "·",
  dividerClassName: "",
  titleClassName: "text-smoke text-sm",
};
---

<a
  href={"/resume/" + slug}
  data-umami-event="resume-entry"
  data-umami-event-entry={slug}
  class="link-not-text group/job-item relative block rounded-md px-6 py-5 transition-all hover:bg-lavender/5 hover:!opacity-100 group-hover/job-history:opacity-50 motion-reduce:group-hover/job-history:opacity-100"
>
  <span
    class="group-hover/job-item:text-gradient-r absolute right-4 top-4 px-2 py-0.5 font-header transition-transform group-hover/job-item:translate-x-1 group-hover/job-item:from-lavender group-hover/job-item:to-orchid motion-reduce:group-hover/job-item:translate-x-0"
  >
    →
  </span>
  <JobTitles titles={titles} mainTitle={mainTitleStyle} offTitle={offTitleStyle}>
    <ul class="job-summary flex flex-col gap-1 pb-2 pt-1" role="list">
      {summaries.map((summary) => <li>{summary}</li>)}
    </ul>
    <ul class="flex flex-row flex-wrap gap-2" role="list">
      {
        techs.map((tech) => (
          <li class="rounded-full bg-lavender/10 px-2 py-1 text-xs text-lavender">{tech}</li>
        ))
      }
      {
        skills &&
          skills.map((skill) => (
            <li class="rounded-full bg-turquoise/10 px-2 py-1 text-xs text-turquoise">{skill}</li>
          ))
      }
    </ul>
  </JobTitles>
</a>

<style>
  .job-summary li::before {
    content: "‣";
    @apply mr-1;
  }

  .job-period-start {
    @apply block text-end;
    width: 48px;
  }

  .job-divider {
    @apply block text-center;
    width: 26px;
  }

  .job-period-end {
    @apply block;
    width: 42px;
  }
</style>
